/* ===== Base ===== */
.dashboard {
  padding: 30px 20px;
  max-width: 1100px;
  margin: 0 auto;
  color: #fff;
  background: var(--bg);
}

.dash-section {
  margin-bottom: 45px;
}

/* ===== Greeting ===== */
.dash-hero {
  text-align: center;
  margin-bottom: 60px;
}

.dash-title {
  font-size: 38px;
  font-weight: 800;
  background-color: #181818;
  /*background: linear-gradient(120deg, #ffffff 10%, #f3b182 60%, #ffffff 100%);*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dash-subtitle {
  font-size: 18px;
  color: #bf8c35ff;
  margin-top: 6px;
  text-transform: capitalize;
  font-weight: 600;
}

/* ===== Quick Action Buttons ===== */
.dash-quick-actions {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
}

.dash-btn {
  padding: 10px 18px;
  background: linear-gradient(120deg, #fec195, #fec195, #D0D9C7, #D0D9C7 100%);
  border: 1px solid #f3b182;
  border-radius: 12px;
  font-weight: 600;
  color: #181818;
  transition: 0.2s ease;
}

.dash-btn:hover {
  background: #f3b182;
  transform: translateY(-2px);
}

/* ===== Stats ===== */
.dash-stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.dash-card {
  /*background: linear-gradient(120deg, #fec195, #fec195, #D0D9C7, #D0D9C7 100%);*/
  background-color: #bf8c35ff;
  padding: 20px;
  border-radius: 14px;
  box-shadow: var(--shadow);
  color: rgb(0, 0, 0);
  text-align: center;
}

.dash-card h3 {
  margin: 0;
  font-size: 18px;
}

.dash-number {
  margin-top: 10px;
  font-size: 28px;
  font-weight: 700;
}

/* ===== List Items (Recent Recipes + Pantry) ===== */
.dash-heading {
  margin-bottom: 14px;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.dash-list {
  background: #bf8c35ff;
  border-radius: 14px;
  padding: 8px 0;
  box-shadow: var(--shadow);
}

.dash-list-item {
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
  color: #181818;
}
.dash-tag-item {
    color: white
}
.dash-list-item:last-child {
  border-bottom: none;
}

.dash-link {
  font-weight: 600;
  color: #000000;
}

.dash-link:hover {
  text-decoration: underline;
}

/* ===== Pantry tags ===== */
.dash-tag {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 14px;
  font-weight: 600;
}

.dash-tag.low {
  background: #d31d1d;
  color: #fff;
}

.dash-tag.good {
  background: #324c30;
}

.dash-tag.expiring {
  background: #ffe6ba;
}
