
/*SEARCH BAR*/
.searchbar {
  display: flex;
  align-items: center;
  background: rgba(157, 32, 32, 0.15);
  width: 250px;      /* stays left, does NOT stretch */
  padding: 0.4rem 1rem;
  border-radius: 6px;   /* rectangular */
  box-shadow: 0 4px 8px rgba(88, 35, 35, 0.2);
}

.searchbar__input {
  display: block;
  color: rgb(95, 6, 6);
  background: linear-gradient(142.99deg, rgba(217, 217, 217, 0.63) 15.53%, rgba(243, 243, 243, 0.63) 88.19%);
  /*box-shadow: 0px 12px 24px -1px rgba(0, 0, 0, 0.18);*/
  border: none;
  margin: 0 2px;
  padding: 6px 15px;
  outline: none;
  text-align: left;
  /*width: 200px;
  transition: 0.5s;
  font-size: 1rem;*/
}

.searchbar__input:hover {
  width: 240px;
}

.searchbar__input:focus {
  width: 280px;
}

/*PAGE TITLE AND SUBTITLE*/

.page__title {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 0.5rem;
  text-align: left;
  background: linear-gradient(120deg, #f3b182 0%, #ffffff 35%, #f3b182 70%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
.page__subtitle {
  font-size: 1.0rem;
  color: #fffcfc;
  margin-bottom: 1.5rem;
  text-align: left;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}